html {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  cursor: auto;
  background: #2c343f;
}

.popoutContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 55%;
  padding-top: 100px;
  margin: 0 auto;
  color: #d3ad1d;
}

.popoutChild {
  margin: 0 auto;
}
